h1 {
	font-family: 'Bellefair', serif;
}

p{
font-family: 'Quicksand', sans-serif;
}
html{
	background-image:url(1.jpg);
	background-repeat:no-repeat; 
	background-size: auto;
}
html,body{
	margin: 0;
	width: 100%;
	height: 100%;
}
h1 {
	font-family: 'Nanum Myeongjo', serif;
	font-weight: bold;
 	font-size: 35px; color: #F5DEB3; 
 	margin-left: 30px;
 	text-transform: uppercase;
}
h2{
	font-family: 'Spectral SC', serif;
	color: #FFFFE0; 
	font-weight: lighter;
}
p{
	font-family: 'Open Sans Condensed', sans-serif;
 	color: #FFFFE0; 
 	font-weight: bold;
}
.column {
	font-style: ;
 	float: left;
 	width: 647px;
 	height:300px;
 	text-align: right;

}
.column2 {
 	float: left;
 	width: 637px;
 	padding: 10px;
 	height:300px;
}
.img{
	opacity: 0.8;
}
.m{margin-top:3em;}
.m1{margin-top:33px;}

@media (max-width: 600px){
  [class*="column-"]{
    width: 100%;
  }
}